*{
    margin: 0;
    padding: 0;
    
}

 /* HEADER */
.web-header{
    font-family: Arial, sans-serif;
    border: 1px solid black;
    display: flex;
    justify-content:space-between ;
    height: 5rem;
    background-color: rgb(28 33 68);
    /* align-items: center; */
    /* justify-content: center; */
}

.head-image{
    justify-content: space-around;
    padding: .9rem;
    
}

.head-image img{
    
    /* border: 1px solid red; */
    max-width: 100%;
    height: 100%;
    margin-left: 4rem;
}

.web-header a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.head-navigation{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 1.8rem;
    width:40%;
}


/* MAIN */
main{
    background-color: rgb(5 10 48);
}

/* ------------------- section 1 (HERO SECTIOIN)------------------- */

.section-1{
    font-family: Arial, sans-serif;
    color: white;
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 2.8rem; */
    width: calc(100% - 14rem); /* Subtract padding from both sides */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    margin: 0 auto; /* Center the section horizontally */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    /* border: 1px solid red; */
}


.section-1 h1{
    font-size: 6.9rem;
    margin-bottom: -.6rem;
    
    
}

.section-1 h3{
    font-size: 1.6rem;margin-bottom: .3rem;
    margin-bottom: .6rem;
}

.main-content{
    align-items:center;
    align-items: center;
    display: flex;
    /* border: 1px solid red; */
}


.section-1 img{
    height: 1340%;
    width: 100%;
    width: 100%;
    height: 100%;
}

/* -------------------section 2------------------- */

.section-2{
    background-color: whitesmoke;
    color: rgb(5 10 48);
    height: auto;
    padding: 3.4em;
    display: flex;
    flex-direction: column;
    width: calc(100% - 14em); 
    max-width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    margin-top: 4rem;
    margin-bottom: 4em;
    gap: 1.7rem;    
    border-radius: 1em;
}

.section-2 h2{
    margin: -1.4rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.section-2 p{
    
    font-size: 1.4rem;
    text-align: justify;
}

