* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
  /* rgb(5 10 48); */
}



body{
  overflow-x:hidden;
  /* overflow-y:hidden; */
}


/* HEADER */
.web-header {
  z-index: 1;
  position: fixed;
  width: 100vw;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  height: 5rem;
  background-color: rgb(28 33 68);
  /* flex-wrap: wrap; */
}

.head-image {
  width: 8%;
  height: 30%;
  position: relative;
  justify-content: center;
  padding: 0.9rem;
}

.head-image img {
  /* object-fit: cover; */
  position:absolute;
  /* border: 1px solid red; */
  /* max-width: 100%; */
  /* height: 100%; */
  margin-left: 4rem;
  width: 100%;
  height: 100%;
}

.web-header a {
  text-decoration: none;
  color: white;
  font-size: 110%;
}




.head-navigation {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  padding: 1.8rem;
  width: 40%;
}

.break {
  color: rgb(5 10 48);
}
/* MAIN */
.hero-section {
  background-color: rgb(5 10 48);
  /* border: 1px solid red; */
  
}



/* ------------------- section 1 (HERO SECTIOIN)------------------- */


.section-1 {
  margin: 0 7%;
  /* margin-top: 1vw; */
  font-family: Arial, sans-serif;
  color: white;
  /* border: 1px solid red; */
  /* height: 100vh; */
  display: flex;
  /* padding: 2.8rem; */
  /* width: calc(100% - 14rem); */
  /* Subtract padding from both sides */
  /* max-width: 100%; */
   /* Ensure it doesn't exceed the viewport width */
   /* margin: 0 auto; */
   /* Center the section horizontally */
   /* box-sizing: border-box;  */
   /* Include padding and border in the width calculation */
  }
  
  .section-1-container{
    /* margin-left: 3%; */

    margin-top: 7vw;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-1 h1 {
  font-size: 7.6vw;
  margin-bottom: -0.6rem;
}

.section-1 h3 {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  margin-bottom: 0.6rem;
}

.main-content {
  align-items: center;
  display: flex;
  /* border: 1px solid red; */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(2vw); /* Move downwards */
  }
  100% {
    transform: translateY(0); /* Return to the original position */
  }
}

.section-1 img {
  animation: moveUpDown 3s ease-in-out infinite;
  width: 100%;
  width: 100%;
  
  /* height: 85%; */
  height: 37vw;
}

@media (max-width:692px) {
  .section-1-container{
    /* border: 1px solid red; */
    margin-top: 13vh;
  }
}

/* -------------------section 2------------------- */

.section-2 {
  background-color: whitesmoke;
  color: rgb(5 10 48);
  height: auto;
  padding: 3.4vw;
  display: flex;
  flex-direction: column;
  width: calc(100% - 14vw);
  max-width: 100%;
  margin: 5vh auto;
  box-sizing: border-box;
  margin-top: 7rem;
  margin-bottom: 4em;
  gap: 1.7vw;
  border-radius: 1em;
}

.section-2 h2 {
  font-size: 1.8vw;
  margin: -1.4vw;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.section-2 p {
  font-size: 1.4vw;
  text-align: justify;
}

.para1,.para2,.para3,.para4,.para5{
    /* border: 1px solid red; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------section 3 (Member)------------------- */

.member {
  background-color: whitesmoke;
  color: rgb(5 10 48);
  /* height: auto; */
}

.maam-info {
  /* height: 80vh; */
  /* border: 1px solid red; */
  display: flex;
  /* max-width: 100%; */
  /* box-sizing: border-box; */
  margin: 4vw;
  gap: 3vw;
  padding: 5rem;
  margin-bottom: -13vh;
  align-items: center;
}

.maam-image {
  width: 100vw;
  height: 24vw;
  /* border: 1px solid red; */
}

.maam-image img {
  width: 100%;
  height: 100%;
  border-radius: 2vw;
}

.maam-content {
  padding: 3vw;
  border: 1px solid rgb(5 10 48);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 2vw;
  font-size: 1.3vw;
  box-sizing: border-box;
  height: 24vw;
}

.maam-content h1 {
  text-align: center;
  font-size: 3vw;
  margin-top: -2rem;
  margin-bottom: 2vw;
}

.maam-content p {

  font-size: 1.5vw;
  justify-content: center;
}




/* Memeber photos card */

.member-main {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80vw;

  padding: 2rem 1rem;
  /* border: 2px solid red; */
  margin: 30vh auto;
  margin-bottom: 10vh;
}

.member-main h1 {
  text-align: center;
  margin-top: -5rem;
  margin-bottom: 3rem;
}

.member-container {
  display: grid;
  gap: 9rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* @media (min-width:935px) {
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1380px) {
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1788px) {
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
} */

.card-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(181, 173, 173);
  border-radius: 8px;
  
}

.card-image-container {
  position: relative;
  overflow: hidden;
  height: 19rem;
}

.card_imgae {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-title-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card-container:hover .card_imgae {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.breakt {
  color: white;
}

/* ACHIEVEMENTS */

.achievements {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 3rem;
}

.achi-headline {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.3vw;
}

.achi-cards-section1 {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-evenly;
  margin: 1rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.achi-cards-section2{
  display: flex;
  /* gap: 2rem; */
  justify-content: space-evenly;
  margin: 1rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.achi-card {
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 1rem;
}

.achi-image {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.achi-image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.achi-card-info {
  margin: 1.1rem;
  color: rgb(5 10 48);
  font-family: Arial, Helvetica, sans-serif;
}
.chi-card-info-description h3{
  /* border: 1px solid red; */
  font-size: 1.7vw;
}
.achi-card-info-description{
  /* border: 1px solid red; */
  font-size: .89vw;
  font-weight: 600;
}

@media (min-width: 576px) and (max-width: 766px){
  .hero-section{
    width: 100vw;
    overflow-x: hidden;
  }
  /* .hero-section{
    border: 1px solid red;
  } */
  .web-header{
    font-size: 75%;
    height: 10%;
    align-items: center;
  }
  .head-image {
    width: 18%;
    height: 50%;
    margin-left: 4rem;
    padding: 0%;
  }
  .head-image img{
    margin: 0;
  }
  .section-2 p{
    font-size: 1.3vw;
  }
  .section-2 h2{
  font-size: 1.5vw;
  border: 1px solid green;
  }
  .achi-cards-section1{
    flex-direction: column;
    align-items: center;
    /* width: 150vw; */

  }
  .achi-cards-section2{
    flex-direction: column;
    align-items: center;
    /* width: 150vw; */
    margin-top: -16vh;
    margin-bottom: 10vh;

  }
  .achi-card{
    width: 50vw;
    margin-bottom: 5vh;
  }
  .member-main  h1{
    font-size: 2.5vw;
    /* border: 1px solid red; */
  }  
  #grant-card-heading{
    font-size: 3vh;
    
  }
  #grant-card-para{
    font-size: 2vh;
    /* border: 1px solid red; */
  }
  #grant-card-desc{
    font-size: 1.4vw;
  }

  .maam-info{
    transform: scale(1.4);
  }
  .maam-content-container p{
    /* border: 1px solid red; */
    font-size: 1.4vw;
  }
  .achi-headline h1{
    font-size: 4vw;
  }

  .achi-card-info-description{
    font-size: 1.6vw;
  }

 
}

@media (max-width:575px) {
  .hero-section{
    width: 100vw;
    overflow-x: hidden;
  }
  .web-header{
    font-size: 60%;
    height: 10%;
    align-items: center;
    
  }
  .head-image {
    height: 50%;
    width: 21%;
    margin-left: 4rem;
    padding: 0%;

  }
  .head-image img{
    margin: 0;
  }

  /* SECTION - 2 ADJUSTMENTS */


  /* .section-2{
    font-weight: 700;
   
  }*/
  .section-2 p{
    font-size: 2.3vw;
  }
  .section-2 h2{
    /* border: 1px solid red; */
    font-size: 1.9vw;
  } 

  .maam-info{
    transform: scale(1.4);
  }

  .maam-content-container h1{
    font-size: 2vw;
    /* border: 1px solid red; */
    margin-top: 1.2vw;
  }

  .maam-content-container p{
    font-size: 1.3vw;
  }

  .achi-cards-section1{
    flex-direction: column;
    align-items: center;
    /* width: 150vw; */

  }
  .achi-cards-section2{
    flex-direction: column;
    align-items: center;
    /* width: 150vw; */
    margin-top: -16vh;

  }

  .achi-card{
    width: 50vw;
    margin-bottom: 5vh;
  }


/* }


@media (min-width:100px) and (max-width:450px) { */

  .web-header{
    font-weight: 500;
    font-size: 2.1vw;
    align-items: center;
  }

  .head-image{
    height: 4vh;
    width: 16vw;
    margin-left: 9vw;
  }
  .maam-info{
    transform: scale(1.5);
  }

  html{
    scroll-behavior: smooth;
    
  }
  body {
    overflow-x: hidden;
  }
  
  /* .achi-card{
    border: 1px solid red;
    transform: scale(1.6);
    margin: 14vh 0 ;
  } */

  .achi-card{
    background-color: white;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 1rem;
  }
  .main-content{
    /* border:1px solid red; */
    transform: scale(.7);
    margin-top: 2.4vh;
  }

  .section-2 {
    /* border: 1px solid red; */
    /* font-size: 8%; */
    /* transform:scaleY(1.4); */
    font-weight: 500;
  }

  .heading1{
    margin: 2vh 0;
  }

  .section-2 p{
    font-size: 3vw;
  } 


  .section-2 h2{
    /* border: 1px solid green; */
    font-size: 3vw;
    font-weight: 1000;
  }

  .maam-info{
    transform: scale(1.8);
    /* transform: scaleY(); */
    /* height: 5vh; */
  }

  .maam-content{
    height: 20vh;
  }
  .maam-info p{
    /* border: 1px solid red; */
    font-size: 1.5vw;
    font-weight: 500;
  }

  .maam-info img{
    /* border: 1px solid red; */
    width: 15vw;
  }

  .member-main h1{
    width: 80vw;
    /* border: 1px solid red; */
    font-size: 5vw;
  }

  .card-container{
    transform: scale(.93);
    margin-bottom: -16vh;
  }

  .achi-headline h1{
    font-size: 6vw;
  }

  .chi-card-info-description h3{
    font-size: 3vw;
    /* border: 1px solid red; */

  }

  #grant-card-para{
    /* border: 1px solid red; */
    font-size: 3.6vw;
  }
  
  #grant-card-heading{
    /* border: 1px solid rgb(61, 61, 61); */
    font-size: 3vw;
  }
  
  #grant-card-desc{
    /* border: 1px solid red; */
    font-size: 2.4vw;

  }

  #grants-heading{
    /* border: 1px solid red; */
    font-size: 6vw;
    margin-top: -5vh;
  }

  .grant-card{
    transform: scale(1.3);
    margin: 13vh  0;
  }

  .achi-card-info-description{
    font-size: 3vw;
  }

  .achi-headline h1{
    font-size: 6vw;
    /* border: 1px solid red; */

  }
  .test-heading h1{
    font-size: 6vw;
    margin-top: -6vh;
  }

  .test-messages{
    transform: scale(.8);

  }

  .test-messages-info p{
    /* height: 10vh; */
    /* border: 1px solid red; */
    font-size: 3vw;
    width: 50vw;
    margin-right: 10px;
    
  }

  .test-messages-image img{
    transform: scale(.9);
    border-radius: 50%;
  }

  .con{
    transform: scale(.8);
    /* border: 1px solid red; */
    font-size: 5vw;
    /* width: 1000px; */
  }
  
  .quick-links-bg{
    transform: scale(.9);
  }

  .quick-links-section{
    transform: scale(.7);
    margin-left: 18vw;
    width: 30vw;
  }
}


/* GRANTS */
.grants {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 60%;
  margin: 0 auto;
  padding: 2vw;
}

.grants h1 {
  text-align: center;
  font-size: 2.7vw;
  font-weight: bold;
  margin-bottom: 5vh;
  color: white;
}

.grant-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2vh;
  margin-bottom: 5vh;
}

h3 {
  font-size: 3vh;
  margin-bottom: 12px;
}

.grants p {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1.9vh;
}



/* TESTIMONIAL  */

.test-bg{
    background-color: whitesmoke;
    height: 30rem;
}

.test-heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2rem;
    padding: 4rem;
    font-size: 1.4rem;
}

.test-messages{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(5 10 48);;
    width: 55rem;
    margin-bottom: 2rem;
    border-radius: 10rem;
    height: 10rem;
    padding: 2rem;
    
}

.test-message-box{
    margin-top: -2rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.test-messages-image{
    height: 9rem;
    width: 9rem;
    
}

.test-messages-image img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

/* CONTACT US  */
.contact{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align:justify;
    margin: 20vh;
    
}

.con-heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2rem;
}

.con-para{
    font-size: 1.3rem;
}

.contact-methods
{
    font-size: 1.2rem;
    font-style: italic;
    padding: 2rem;
    width: 95%;
}

.contact-methods a{
    /* border: 1px solid red; */
    color: rgb(247, 247, 131);
    text-decoration: none;
}

.contact-methods ul{
    text-decoration: none;
    
}

/* QUICK LINKS */

.quick-links{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28 33 68);
    height: 25rem;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.quick-links-image{
    color: rgb(255, 251, 166);
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
    /* gap:1rem; */
}

.quick-links-image img{
    height: 100%;
    width: 100%;
    margin-bottom: 2.3rem;
}

.quick-links-bg{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-left: 14vw;
}

.quick-links-section{
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;

}

.quick-links-section li{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1.2rem;
    list-style: none;
}

.quick-links-section a{
    color: grey;
    text-decoration: none;
}

.copyright{
    background-color: rgb(28 33 68);
    font-size: .7rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1rem;
}

/* HOWER EFFECT */ 

.quick-links a:hover{
  color: white;
}

a:hover{
  color: gray;
}


/* FOOTER */
footer{
  background-color: rgb(5 10 48);
}

